<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demon.ara">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeMonARA">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Main"
            android:theme="@style/Theme.DeMonARA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActResultActivity"
            android:label="测试系统启动器" />
        <activity
            android:name=".TestJumpActivity"
            android:label="测试Activity跳转及返回值" />
        <activity
            android:name=".java.JavaActivity"
            android:label="测试Java调用" />
        <activity
            android:name=".BenchmarkActivity"
            android:exported="false"
            android:label="Benchmark" />
    </application>

</manifest>